In [12]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

df = pd.read_csv("homeprices.csv")
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [13]:
df.bedrooms.median()
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())

In [14]:
model = LinearRegression()
model.fit(df[['area','bedrooms','age']],df.price)
model.predict([[3000,3,40]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([498408.25158031])